body{
    background-color: #8ba8b7 ;
}
#typing-container{
    display:flex
}
.head-cust{
    background-color: #9aafb8;
    border: ;
    padding: 1.3%;
    margin: 0px

}

#chatbox-container {
    width: 90vw;
    height: 90vh;
    background-color: var(--secondary);

    /* CSS box model */
    margin: 0 auto;
    padding: 1%;
    border-radius: 10px;

    /* flexbox */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


